scipio/ScipioConnect.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://www.scipio-online.nl/ScipioConnect" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="https://www.scipio-online.nl/ScipioConnect" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://www.scipio-online.nl/ScipioConnect">
      <s:element name="GetLedenOverzicht">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pincode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLedenOverzichtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLedenOverzichtResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLedenOverzichtSoapIn">
    <wsdl:part name="parameters" element="tns:GetLedenOverzicht" />
  </wsdl:message>
  <wsdl:message name="GetLedenOverzichtSoapOut">
    <wsdl:part name="parameters" element="tns:GetLedenOverzichtResponse" />
  </wsdl:message>
  <wsdl:portType name="ScipioConnectSoap">
    <wsdl:operation name="GetLedenOverzicht">
      <wsdl:input message="tns:GetLedenOverzichtSoapIn" />
      <wsdl:output message="tns:GetLedenOverzichtSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ScipioConnectSoap" type="tns:ScipioConnectSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLedenOverzicht">
      <soap:operation soapAction="https://www.scipio-online.nl/ScipioConnect/GetLedenOverzicht" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ScipioConnectSoap12" type="tns:ScipioConnectSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLedenOverzicht">
      <soap12:operation soapAction="https://www.scipio-online.nl/ScipioConnect/GetLedenOverzicht" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ScipioConnect">
    <wsdl:port name="ScipioConnectSoap" binding="tns:ScipioConnectSoap">
      <soap:address location="https://www.scipio-online.nl/ScipioConnect.asmx" />
    </wsdl:port>
    <wsdl:port name="ScipioConnectSoap12" binding="tns:ScipioConnectSoap12">
      <soap12:address location="https://www.scipio-online.nl/ScipioConnect.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>